.config/**
!.config/waybar
!.config/hypr
!.config/wezterm
!.config/nvim
!.config/eww
!.config/nushell/*.nu
# !.config/waybar
# !.config/waybar
# !.config/waybar
.cache/
.cargo/
.lesshst/
.local/
.mozilla/
.pki/
.rustup/
.ssh/
Downloads/
Pictures/
Documents/
